.about {
  padding: 20px;

  .team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .member {
      max-width: 500px;

      img {
        border-radius: 50%;
        object-fit: cover;
        height: 300px;
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .name {
        color: blue;
        font-size: 1.5rem;
      }

      .title {
        color: rgb(114, 114, 114);
      }
    }
  }
}

@media (min-width: 900px) {
  .about {
    padding: 0 40px;
  }
}
