.contact {
  padding: 20px;

  form {
    .formControl {
      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 20px;
        resize: vertical;
        color: inherit;

        @media (prefers-color-scheme: dark) {
          background-color: rgb(41, 40, 40);
        }
      }
    }

    button[type='submit'] {
      color: white;
      background-color: skyblue;
      border: none;
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (min-width: 900px) {
  .contact {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      min-width: 500px;
    }
  }
}
